<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/imgs/icon_img2.png">
        <title>{{heading}}</title>
    </head>
    <body>
        <h1 align="center">Codeforces App</h2>
        {{>header}}
        <div class="main-content-compare">
            
        </div>
        {{>footer}}
    </body>
</html>