<html>
    <head>
        <link rel="stylesheet" href="/css/common.css">
        <link rel="stylesheet" href="/css/indexpage.css">
        <link rel="icon" href="/imgs/icon_img2.png">
        <title>{{heading}}</title>
    </head>
    <body>
        <h1 align="center">Codeforces App</h2>
        <div class="main-content-index">
            <center>Your Progress</center>
            <p>
                <ul class="list">
                    <li><a href="compare">Compare Multiple Profiles</a></li>
                    <li><a href="problems">Find Problems</a></li>
                    <li><a href="invoke">Custom Invoke</a></li>
                </ul>
            </p>
            <center style="background-color:rgba(255,0,0,0.75); color:white; font-size: 2vh">{{error}}</center>
        </div>
        {{>footer}}
    </body>
</html>